@media (max-width: 600px) {
    .container {
        display: block;
    }
    .nav {
        flex-direction: row;
    }
    .site-logo-bg {
        display: none;
    }
    .site-logo-title {
        margin: 9rem 5rem;
    }
    .grid-content-tile {
        width: 45%;
    }
}

@media (min-width: 1800px) {
    .grid-content-tile {
        width: 14%;
    }
}